:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --GradientColor: linear-gradient(
    to right,
    hsl(187, 85%, 43%),
    hsl(199, 100%, 33%)
  );
  --WhiteColor: hsl(255, 255, 255);
  --BlackColor: hsl(0, 0, 0);
  --TextColor: hsl(240, 4%, 36%);
  --WhiteColorDim: hsl(0, 0%, 93%);
  --GreyText: rgb(190, 190, 190);
  --InputColor: rgb(239, 239, 239);
  --BodyColor: rgb(240, 240, 246);
  --CardBG: rgb(225, 225, 235);
}

.flex {
  display: flex;
  align-items: center;
}

.home {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.home .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(30, 60, 71);
  top: 60;
  bottom: 0;
  z-index: 1;
  mix-blend-mode: hard-light;
}
.home img {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  bottom: 0;
}
.home .homeContent {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  padding: 5rem 1.5rem 3rem;
  display: flex;
  row-gap: 3rem;
  flex-direction: column;
  align-items: stretch;
  margin: auto;
  justify-content: center;
  z-index: 100;
  color: white;
}
.home .homeContent .textDiv {
  padding: 6rem 0 2rem 0;
}
.home .homeContent .textDiv .smallText {
  font-size: 1.5rem;
  text-transform: uppercase;
}
.home .homeContent .textDiv h1 {
  position: relative;
  font-size: 2.5rem;
}
.home .homeContent .cardDiv {
  position: relative;
  padding: 2.5rem 1rem;
  background: white;
  border-radius: 10px;
  gap: 1rem;
}
.home .homeContent .cardDiv label {
  display: block;
  color: hsl(240, 4%, 36%);
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}
.home .homeContent .cardDiv .label_total {
  justify-content: space-between;
  align-items: center;
}
.home .homeContent .cardDiv .label_total .total {
  color: hsl(240, 4%, 36%);
  font-size: 18px;
  padding-bottom: 10px;
}
.home .homeContent .cardDiv .input {
  display: flex;
  justify-content: center;
  height: 40px;
  padding: 0 1rem;
  background: rgb(239, 239, 239);
  border-radius: 3rem;
}
.home .homeContent .cardDiv .input input {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  font-size: 13px;
  font-weight: 500;
}
.home .homeContent .cardDiv .input input::-moz-placeholder {
  font-size: 13px;
}
.home .homeContent .cardDiv .input input::placeholder {
  font-size: 13px;
}
.home .homeContent .cardDiv .input .icon {
  font-size: 20px;
  color: hsl(199, 100%, 33%) !important;
  margin-left: 10px;
}
.home .homeContent .cardDiv .input input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  background: transparent; /* Otherwise white in Chrome */
}
.home .homeContent .cardDiv .input input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
.home .homeContent .cardDiv .input input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  background: #ffffff;
  border-radius: 6px;
}
.home .homeContent .cardDiv .input input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid hsl(199, 100%, 33%);
  background: hsl(199, 100%, 33%);
  cursor: pointer;
  margin-top: -4px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
  box-shadow: 14px 9px 45px -7px rgba(0, 0, 0, 0.77);
}
.home .homeContent .searchOptions {
  background: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  bottom: -0.7rem;
  -moz-column-gap: 0.8rem;
       column-gap: 0.8rem;
  border-radius: 3rem;
  padding: 10px 2rem;
  left: 50%;
  transform: translate(-50%);
  justify-content: center;
  cursor: pointer;
}
.home .homeContent .searchOptions:hover {
  background: hsl(199, 100%, 33%);
}
.home .homeContent .searchOptions .icon {
  font-size: 20px;
  color: white;
}
.home .homeContent .searchOptions span {
  font-size: 13px;
  padding-top: 3px;
  font-weight: 500;
}

.homeFooterIcons {
  width: 100%;
  justify-content: space-between;
}
.homeFooterIcons .icon {
  color: white;
  font-size: 25px;
  margin: 0 5px;
  font-weight: 500;
}
.homeFooterIcons .icon:hover {
  color: hsl(199, 100%, 33%);
}/*# sourceMappingURL=home.css.map */