@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --GradientColor: linear-gradient(
    to right,
    hsl(187, 85%, 43%),
    hsl(199, 100%, 33%)
  );
  --WhiteColor: hsl(255, 255, 255);
  --BlackColor: hsl(0, 0, 0);
  --TextColor: hsl(240, 4%, 36%);
  --WhiteColorDim: hsl(0, 0%, 93%);
  --GreyText: rgb(190, 190, 190);
  --InputColor: rgb(239, 239, 239);
  --BodyColor: rgb(240, 240, 246);
  --CardBG: rgb(225, 225, 235);
}

a {
  text-decoration: none;
}

li {
  text-decoration: none;
}

ul {
  text-decoration: none;
  list-style-type: none;
}

.section {
  padding: 4rem 0 2 rem;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.icon {
  font-size: 2rem;
  cursor: pointer;
}
.flex {
  display: flex;
  align-items: center;
}
.grid {
  display: grid;
  align-items: center;
}

.btn {
  padding: 0.6rem 1.5rem;
  background: var(--GradientColor);
  border-radius: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn a {
  color: rgb(244, 227, 227);
  font-weight: 500;
}

.btn:hover {
  background: var(--SecondaryColor);
}

img,
video {
  width: 100%;
  height: auto;
}

input {
  font-size: 100%;
}

body {
  background: var(--BodyColor);
}
